<div id="profile-container" class="container bootstrap snippet">
    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Personal Settings
                    </h3>
                </div>
                <ul class="list-group">
                    <a class="list-group-item text-left" href="#profile" data-toggle="tab"><span><strong>Profile</strong></span></a>
                    <a class="list-group-item text-left" href="#account" data-toggle="tab"><span><strong>Account</strong></span></a>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane" id="account">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-1">
                                <label><h5><strong>Emails</strong></h5></label>
                            </div>
                            <div class="col-xs-1">
                                <button class="plain" (click)="addEmptyRow()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="row" *ngFor="let email of emails; let in = index">
                            <div class="col-xs-6">
                                <input class="form-control" id="email{{in}}" name="email{{in}}" (keyup)="updateEmails(in)" [ngModel]="emails[in]">
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-default" (click)="saveEmail(in)">Save</button>
                                <button class="plain" (click)="deleteEmail(in)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="password"><h5><strong>Old Password</strong></h5></label>
                                <input type="password" class="form-control" name="old_password" id="old_password" title="enter your old password." [(ngModel)]="password.old">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="password"><h5><strong>New Password</strong></h5></label>
                                <input type="password" class="form-control" name="password" id="password" title="enter new password." [(ngModel)]="password.new">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="password2"><h5><strong>Confirm New Password</strong></h5></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="password" class="form-control" name="password2" id="password2" title="verify new password." [(ngModel)]="password.conf">
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-default" (click)="savePassword()">Save Password</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <label style="color:red">{{err?.account}}</label>
                        </div>
                    </div>

                </div>

                <div class="tab-pane active" id="profile">
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="first_name"><h5><strong>First Name</strong></h5></label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" title="enter your first name if any." [(ngModel)]="user.firstname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="last_name"><h5><strong>Last Name</strong></h5></label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" title="enter your last name if any." [(ngModel)]="user.lastname">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="institution">Institution</label>
                                    <select class="form-control" name="institution" id="institution" [(ngModel)]="user.institution">
                                        <option>Cleveland State University</option>
                                        <option>Ohio State University</option>
                                        <option>Case Western Reserve University</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="bio"><strong>Bio</strong></label>
                                    <textarea class="form-control" rows="5" id="bio" name="self_bio" [(ngModel)]="user.self_bio"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-primary" type="submit" (click)="saveUserInfo()"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <label style="color:red">{{err?.profile}}</label>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>