.image-container {
    width: 100%;
    height: 250px;
    position: relative;
}

.image-container img {
    width:280px;
    margin: 195px auto 0 auto;
    display:block;
}

input {
    margin: 0 auto;
    float: left;
    display:block;
}

.glyphicon.glyphicon-search {
    font-size: 29px;
    position: relative;
    float: right;
}