<div>
    <div class="image-container">
        <img src="{{logo}}" width="190" height="230">
    </div>
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <input class="form-control input-lg" [(ngModel)]="searchToken" name="searchToken" id="search_box" type="text" autofocus>
                </div>
                <div class="col-lg-1">
                    <button [routerLink]="['/searchresult', searchToken]" class="btn btn-default" type="submit">
			            <i class="glyphicon glyphicon-search"></i>
		            </button>
                </div>
            </div>
        </div>
    </form>
</div>