
.search-container { 
    margin-top: 50px; 
}

ul.pagination {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.mb20 { 
    margin-bottom: 20px;
} 

h2.lead { 
    font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; 
    color: #2a3644; 
    margin: 0; 
    padding-bottom: 10px; 
}

.search-result:first-child { 
    margin-top: 0 !important; 
}

.search-result { 
    margin-top: 20px; 
}

.search-result ul { 
    padding-left: 0 !important; 
    list-style: none;  
}

.search-result ul li { 
    font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif; 
    line-height: 30px; 
}

.search-result ul li i { 
    padding-right: 5px; 
}

.search-result h3 { 
    font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; 
    margin-top: 0 !important; 
    margin-bottom: 10px !important; 
}

.search-result h3 > a, { 
    color: #0263ff !important; 
}

.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result a i { color: #fff !important; }

.search-result span.border { 
    display: block; 
    width: 97%; 
    margin: 0 15px; 
    border-bottom: 1px dotted #ccc; 
}

.btn.btn-square {
  border-radius: 0;
}
