<div id="article-container" class=".container-fluid">
    <h2>{{article?.title}}</h2>

    <div class="col-xs-10">
        <dl class="dl-horizontal">
            <dt *ngIf='article?.created'>Publication Date</dt>
            <dd>{{article?.created}}</dd>
            <dt>Abstract</dt>
            <dd>{{article?.abstract}}</dd>
            <dt>DOI</dt>
            <dd>{{article?.doi}}</dd>
            <dt>Citation</dt>
            <dd *ngIf='article'>{{article["journal-ref"]}}</dd>
            <dt>Authors</dt>
            <dd *ngFor="let author of article?.authors">{{author?.forenames + ' ' + author?.keyname}}</dd>
            <dt>References</dt>
            <dd *ngFor="let reference of article?.references">{{reference}}</dd>
        </dl>
    </div>

    <div class="col-xs-2">
        <div class="panel panel-default">
            <ul class="list-group">		
                <a class="list-group-item text-center" (click)="viewPdf(false)">
                    <span><i class="fa fa-external-link" aria-hidden="true"></i></span>
                    <span><strong>View</strong></span>
                </a>
                <a class="list-group-item text-center" (click)="viewPdf(true)">
                    <span><i class="fa fa-download" aria-hidden="true"></i></span>
                    <span><strong>Download</strong></span>
                </a>
            </ul>
        </div>
    </div>
</div>