<div class="container" style="margin-top:70px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form role="form" method="POST" action="#">
        <legend class="text-center">Register on ShareSci</legend>
        <fieldset>
          <legend>Account Details</legend>
          <div class="form-group">
            <div class="row">
              <div class="col-md-1">
                <label for="username">UserName</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" name="username" id="username" placeholder="User Name" [(ngModel)]="user.username"
                  (change)="validate($event)">
              </div>
              <div style="color: red" class="col-md-6">
                <label id="err_email">{{err?.username}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="firstname">First name</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" [(ngModel)]="user.firstname"
                  (change)="validate($event)">
              </div>
              <div style="color: red" class="col-md-3">
                <label id="err_email">{{err?.firstname}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="lastname">Last name</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" [(ngModel)]="user.lastname"
                  (change)="validate($event)">
              </div>
              <div style="color: red" class="col-md-6">
                <label id="err_email">{{err?.lastname}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-1">
                <label for="">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" (change)="validate($event)">
              </div>
              <div style="color: red">
                <label id="err_email">{{err?.email}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="">Confirm Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" id="conf_email" placeholder="Confirm Email" (change)="validate($event)">
              </div>
              <div style="color: red" class="col-md-6">
                <label id="err_email">{{err?.conf_email}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-1">
                <label for="">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="user.password"
                  (change)="validate($event)">
              </div>
              <div style="color: red" class="col-md-6">
                <label>{{err?.password}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control" name="conf_password" id="conf_password" placeholder="Confirm Password" (change)="validate($event)">
              </div>
              <div style="color: red">
                <label id="err_email">{{err?.conf_password}}</label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Optional Details</legend>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="institution">Institution</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <select class="form-control" name="institution" id="institution" [(ngModel)]="user.institution" (change)="validate($event)">
                  <option>Cleveland State University</option>
                  <option>Ohio State University</option>
                  <option>Case Western Reserve University</option>
                </select>
              </div>
              <div style="color: red" class="col-md-6">
                <label id="err_email">{{err?.institution}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="bio"><strong>Bio</strong></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <textarea class="form-control" name="self_bio" rows="5" id="bio" [(ngModel)]="user.self_bio" (change)="validate($event)"></textarea>
              </div>
              <div style="color: red" class="col-md-6">
                <label id="err_email">{{err?.self_bio}}</label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" (click)="createAccount()">Register</button>
            <a [routerLink]="['/login']" href="#">Already have an account?</a>
            <div [ngClass]="msgclass" *ngIf="err.main">
              <label><strong><h3>{{err.main}}</h3></strong></label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>