<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Select files</h3>
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                class="well my-drop-zone">
                Drop Files Here
            </div>
            <div class="form-group">
                <input type="file" id="files" class="form-control" ng2FileSelect [uploader]="uploader" style="visibility: hidden" multiple
                />
                <button class="btn btn-primary"><label for="files">Add files</label></button>
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of uploader.queue; let i = index">
                        <tr>
                            <td><strong><input type="title" class="form-control" name="title" id="title" placeholder="Article Title" [(ngModel)]="item.file.name"></strong></td>
                            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td>
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                            </td>
                        </tr>
                        <tr *ngIf="meta[i]">
                            <td><strong>Abstract</strong></td>
                        </tr>
                        <tr *ngIf="meta[i]">
                            <td colspan="5"><textarea class="form-control" rows="5" id="abstract" name="self_bio" [(ngModel)]="meta[i].abstract"></textarea></td>
                        </tr>
                        <tr *ngIf="meta[i]">
                            <td><strong>Authors</strong></td>
                            <td><button class="plain" (click)="addAuthor(i)"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr *ngFor="let author of meta[i].authors; let j = index">
                            <td><input type="text" class="form-control" name="keyname{{i+':'+j}}" id="keyname{{i+'-'+j}}" placeholder="Last Name"
                                    (keyup)="updateAuthor(i, j)" [ngModel]="metaUpdated[i].authors[j].keyname"></td>
                            <td colspan="2"><input type="text" class="form-control" name="forenames{{i+':'+j}}" id="forenames{{i+'-'+j}}"
                                    placeholder="First Name" (keyup)="updateAuthor(i, j)" [ngModel]="metaUpdated[i].authors[j].forenames"></td>
                            <td><button class="plain" (click)="removeAuthor(i,j)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr *ngIf="meta[i]">
                            <td><strong>References</strong></td>
                            <td><button class="plain" (click)="addReference(i)"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr *ngFor="let reference of meta[i].references; let j = index">
                            <td><input type="text" class="form-control" name="reference{{i+':'+j}}" id="reference{{i+'-'+j}}" placeholder="Reference"
                                    (keyup)="updateReference(i, j)" [ngModel]="metaUpdated[i].references[j]"></td>
                            <td><button class="plain" (click)="removeReference(i,j)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div>
                <div>
                    Queue progress:
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
    </div>
</div>